body {
  margin: 0;
  padding: 0;
  font-family: 'Anonymous Pro';
  font-size:125%;
  background:#ffffff;
  border-style: solid;
  border-top-width: 51px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-color: #0054a0;
}
